* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    background: magenta;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height:120px ;
    
}
.time{
    font-size: 36px;
}
.buttons{
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    
}
.buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #0056b3;
}
.buttons button:active {
    background-color: #0056b3;
    transform: translateY(3px);
}

#getTimediv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
    width: 100%;
}